<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">contact</li>
    </ol>
</nav>
<div class="px-4 py-3 my-3 text-center">
    <h1 class="display-5 fw-bold">Contact</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead">
        Keep in touch with us by dropping a message or using the different media links provided.</p>
    </div>
</div>

<div class="row justify-content-center mb-5">
    <div class="col-4">
        <% if(infoSubmitObj != '') { %>  
            <div class="col-8 alert alert-success" role="alert">
                <%- infoSubmitObj %>
            </div>
        <% } %>  
    
        <% if(infoErrorsObj != '') { %>  
            <div class="col-8 alert alert-danger" role="alert">
                <%- infoErrorsObj[0].message %>
            </div>
        <% } %>  
        <form action="/contact" enctype="multipart/form-data" method="POST">
            <div class="row g-3">

                <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" id="name" class="form-control shadow-none" required>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control shadow-none" required>
                </div>
                
                <div class="col-12">
                    <label for="message" class="form-label">Description</label>
                    <textarea name="message" id="message" class="form-control shadow-none" cols="30" rows="4" required></textarea>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-6 col-xs-12 ml-2">
        <div class="float-start mb-3"><i class="bi bi-tag"></i>All messages sent here will be attended to!</div>
        <% if(displayContact  != '') { %>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <% displayContact.forEach((contact, index) => { %>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="<%= index %>" aria-expanded="false" aria-controls="<%- contact.name %>">
                                <%- contact.name %>
                            </button>
                        </h2>
                        <div id="<%= index %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="<%- contact.name %>">
                            <div class="accordion-body lead fs-6"><%- contact.message %>.</div>
                        </div>       
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <p class="text-align-center">No existing Messages Found.</p>
        <% } %>      
    </div>
</div>